{% extends "base.html" %}
{% block title %}Analytics{% endblock %}


{% block content %}

<div class="container">
    <div class="row section">
        <div class="col-md-6 section-content">
            <h2>Pick File To Analyze</h2>
            <ul>
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.file.label(class="form-label") }}
                        {{ form.file(class="form-control") }}
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                    {% if file %}
                    <br>
                        <div class="alert alert-info">
                            Selected File: {{ file }}
                        </div>
                    {% endif %}
                </form>
            </ul>
        </div>
    </div>
</div>



<div>
    {{ fig | safe }}

</div>

<div class="container">
    {% for file in user.files %}
        <div class="row section">
            <div class="col-md-6 section-content">
                <ul>
                    {{file.data}}
                </ul>
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock %}