{% extends "base.html" %}
{% block title %}Analytics{% endblock %}


{% block content %}

<div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.file }}
        {{ form.submit }}
        {{ file }}
    </form>
</div>



<div>
    {{ fig | safe }}

</div>

<div class="container">
    {% for file in user.files %}
        <div class="row section">
            <div class="col-md-6 section-content">
                <ul>
                    {{file.data}}
                </ul>
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock %}