{% extends "admin/admin_base.html" %}

{% block title %}Choose User{% endblock %}


{% block content %}
<div class="container">
    <div class="row section">
        <div class="col-md-6 section-content">
            <h2>Choose User</h2>
            <ul>
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.choice.label(class="form-label") }}
                        {{ form.choice(class="form-control") }}
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                    {% if choice %}
                    <br>
                        <div class="alert alert-info">
                            Selected File: {{ choice }}
                        </div>
                    {% endif %}
                </form>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

