{% extends "base.html" %}
{% block title %}Upload Data{% endblock %}


{% block content %}


<div class="container">
    <div class="row section">
        <div class="col-md-6 section-content">
            <h2>Upload Files</h2>
            <ul>
                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.file.label(class="form-label") }}
                        {{ form.file(class="form-control") }}
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </ul>
        </div>
    </div>

    <div class="row section">   
        Uploaded So far:
        <u1 class = "list-group list-group-flush" id="files">
            {% for file in user.files %}
            {{file.fileName + ','}}
            {% endfor %}
        </u1>
    </div>
</div>

{% endblock %}